
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(205, 199, 199);
  }
  .navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 50px;
    text-decoration: none;
    padding-right: 60px;
  }
  
  .image2 {
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;
    border: 2px solid black;
    padding: 2px;
    border-spacing: 10px;
  }
  
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(205, 199, 199);
  }
  
  .image3 {
    border-radius: 50px;
    display: flex;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 15px;
  }
  
  .gallery {
    border: solid 2px black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 15px;
  }
  
  .gallery iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); 
    }
    
    .image {
      width: 100px;
      height: 100px;
    }
    
    .navbar {
      flex-direction: column;
      gap: 10px;
    }
    
    .nav-list {
      flex-direction: column;
      gap: 10px;
      padding-right: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gallery {
      grid-template-columns: 1fr; 
    }
    
  }
  